/* Task_Card.css */

/* Default styles for the task card */
.task-card {
  background-color: #f4f4f4;
  border: 2px solid #e0e0e0;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 16px;
  transition: transform 0.2s, box-shadow 0.1s;
  position: relative;
  min-width: 300px;
  max-width: 300px;
  min-height: 215px;
  height: fit-content;
}

.task-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Star icon styles */
.task-card_star {
  position: absolute;
  top: 2px;
  right: 16px;
  color: #f0c040; /* Yellow color for the star icon */
}

/* Title styles */
.task-card_name {
  font-size: 2rem;
  margin-top: 8px;
  padding: 0;
  text-align: center;
}

/* Description styles */
.task-card_description {
  font-size: 1.25rem;
}

/* Date styles */
.task-card_date {
  margin-top: 32px;
  font-size: 1rem;
  color: #666;
  font-weight: bold;
}

/* Line separator styles */
.task-card_line {
  border-top: 1px solid #ccc; /* You can adjust the color and style of the line here as needed */
}

.task-card_bottom {
  display: flex;
  align-items: center; /* Vertically center align items */
  justify-content: space-between; /* Add space between the icons and completion status */
}

.task-card_completion-state {
  font-size: 0.875rem;
  font-weight: bold;
  font-size: large;
  text-align: left;
  margin-right: 80px;
  color: #666; /* Default color for uncompleted state */
}
.completed {
  color: green; /* Set the text color to green for completed tasks */
}

.task-card_icon {
  font-size: 1.5rem;
  color: #666;
  margin-right: 6px;
  cursor: pointer;
}

/* Styles for edit mode */
.task-card_name_editing {
  display: block; /* Show the input fields and button */
  margin-top: 32px;
  margin-bottom: 10px;
  width: 95%; /* Expand input fields and button to full width */
  padding: 8px; /* Add some padding to input fields and button */
  font-size: 1rem; /* Adjust font size */
  border: 1px solid #ccc; /* Add a border to input fields and button */
  border-radius: 4px; /* Add border radius */
  transition: border-color 0.3s; /* Smooth transition for border color */

  /* Focus styles */
  &:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default focus outline */
  }
}

.task-card_description_editing {
  display: block; /* Show the input fields and button */
  margin-bottom: 10px; /* Add spacing between elements */
  width: 100%; /* Expand input fields and button to full width */
  padding: 8px; /* Add some padding to input fields and button */
  font-size: 1rem; /* Adjust font size */
  border: 1px solid #ccc; /* Add a border to input fields and button */
  border-radius: 4px; /* Add border radius */
  transition: border-color 0.3s; /* Smooth transition for border color */
  height: auto;
  word-wrap: break-word;
  resize: vertical;
  width: 95%;

  /* Focus styles */
  &:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default focus outline */
  }
}

.task-card_date_editing {
  display: block; /* Show the input fields and button */
  margin-bottom: 10px;
  width: 95%; /* Expand input fields and button to full width */
  padding: 8px; /* Add some padding to input fields and button */
  font-size: 1rem; /* Adjust font size */
  border: 1px solid #ccc; /* Add a border to input fields and button */
  border-radius: 4px; /* Add border radius */
  transition: border-color 0.3s; /* Smooth transition for border color */

  /* Focus styles */
  &:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default focus outline */
  }
}

.task-card_button_editing {
  display: block; /* Show the input fields and button */
  margin-top: 12px; /* Add spacing between elements */
  margin-right: 8px;
  width: 100%; /* Expand input fields and button to full width */
  padding: 8px; /* Add some padding to input fields and button */
  font-size: 1rem; /* Adjust font size */
  border: 1px solid #ccc; /* Add a border to input fields and button */
  border-radius: 4px; /* Add border radius */
  transition: border-color 0.3s; /* Smooth transition for border color */
  background-color: #007bff;
  color: #fff;
  /* Focus styles */
  &:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default focus outline */
  }

  /* Hover styles */
  &:hover {
    cursor: pointer;
  }
}

.task-card_icon_editing {
  background-color: #007bff; /* Add background color to the "Save" button */
  color: #fff; /* Change text color to white */
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 16px; /* Add more spacing between input fields and button */

  /* Hover styles */
  &:hover {
    background-color: #0056b3; /* Darker background color on hover */
  }
}

.category-container {
  position: absolute;
  top: -20px;
  left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
}

/* Category-specific styles */
.category-1 {
  background-color: #e9e97f; /* Red background for "Work" */
}

.category-2 {
  background-color: #1d9a1d; /* Green background for "Home" */
}

.category-3 {
  background-color: #a1a1f6; /* Blue background for "School" */
}

.task-card_category_editing{
  width: 50%;
}